/* :root {
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(185, 35, 53);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --animation-speed: 1;
    --font-size:16px;
  }
.user-list {
    padding: 20px;
font-weight: 500;
  }
  
  .user-list table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .user-list th, .user-list td {
    border: 1px solid #ddd;
    font-weight: 500;
    padding: 8px;
  }
  
  .user-list th {
    background-color: var(--primary-color);
    text-align: left;
  }
   */

   :root {
    --background-color: #fff;
    --background-light: #fff;
    --primary-color: rgb(185, 35, 53);
    --shadow-color: rgba(0,0,0,0.2);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --animation-speed: 1;
    --font-size: 16px;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    background-color: var(--background-color);
    
  }
  
  .navbar-container {
    flex-shrink: 0; 
    margin-top: -52.5%;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
  }
  
  .user-list {
    padding: 20px;
    background-color: var(--background-light);  
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1000px; 
    /* width: 100%;  */
    text-align: center; 
    font-weight: 500;
  }
  
  .user-list h1 {
    font-family: poppins;
    text-align: center;
    margin-bottom: 20px;
  }
  .user-list .back-admin {
    color: #0A0A0A;
  }
  .user-list table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; }
  
  .user-list th, .user-list td {
    border: 1px solid #ddd;
    font-weight: 500;
    padding: 8px;
    text-align: left;
  }
  
  .user-list th {
    background-color: var(--primary-color);
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra stripes for rows */
  }
  
  tr:hover {
    background-color: #ddd; /* Light gray on hover */
  }
  
  @media (max-width: 600px) {
    .user-list table {
      font-size: 14px; /* Smaller font for smaller screens */
    }
  }
  